<!DOCTYPE html>
<html ng-app="html2canvas_proto">
<head lang="en">
    <meta charset="UTF-8">
    <title>html2canvas-test</title>

    {% load static %}
    <link rel="stylesheet" href="{%static "html2canvas_proto_ui/lib/bootstrap-3.2.0-dist/css/bootstrap.min.css"%}">
    <script type="application/javascript" src="{% static "html2canvas_proto_ui/lib/html2canvas.js" %}"></script>
    <script type="application/javascript" src="{% static "html2canvas_proto_ui/lib/bower_components/angular/angular.min.js"%}"></script>
    <script type="application/javascript" src="{% static "html2canvas_proto_ui/lib/bower_components/angular/angular-resource.min.js"%}"></script>
    <script type="application/javascript" src="{% static "html2canvas_proto_ui/lib/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"%}"></script>
    <script type="application/javascript" src="{% static "html2canvas_proto_ui/js/app.js"%}"></script>
    <script type="application/javascript" src="{% static "html2canvas_proto_ui/js/controllers.js"%}"></script>
</head>
<body ng-controller="TestCtrl">
    {% verbatim body %}
        <script type="text/ng-template" id="title_and_description_modal.html">
            <div class="modal-header">
                <h3 class="modal-title">Describe your screenshot</h3>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" ng-model="image_meta.title">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" rows="3" id="description" ng-model="image_meta.description"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="save()">Save</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
        </script>

        <div class="jumbotron">
            <h1>Some testypage</h1>
            <span><small> - Because everyone needs to test stuff every once in a while, right?</small></span>
        </div>

        <button class="btn btn-primary" value="Take screenshot" ng-click="store_image()">Take screenshot</button>

        <div class="jumbotron" ng-repeat="i in range(15) track by $index"><h1>WoopWoop</h1><small>I am number {{ $index }}</small></div>
    {% endverbatim body %}
</body>
</html>