<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="sliderApp">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<script src="http://code.angularjs.org/1.2.9/angular.min.js" type="text/javascript"></script>
<script src="http://code.angularjs.org/1.2.9/angular-animate.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href='css/app.css' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="js/app.js"></script>
<title>Gallery App</title>
</head>
Search: <input ng-model="query">
Sort by:
<select ng-model="orderProp">
  <option value="name">Alphabetical</option>
  <option value="-age">Oldest</option>
</select>

<style> 
body {
    background-image: url("imag/screenshots/silver.jpg"); 
}
</style>
<h1>Screenshot Gallery</h1>

<body>


<div class = "imgbox" ng-repeat = "image in images">
    <img ng-src = "{{photo.src}}">

</div>
<div class="row">
        <div class="imgbox"><div class="img"><div class="text"></div></div></div>
        <div class="imgbox"><div class="img"><div class="text"></div></div></div>
        <div class="imgbox"><div class="img"><div class="text"></div></div></div>
        <div class="imgbox"><div class="img"><div class="text"></div></div></div>
</div>
<ul class ="position">
<div class="imagegallery">
<div class="inner">
</div>
</div>
</body>
<li ng-repeat="img in phone.images">
<img ng-src="{{img}}">
<img ng-src="{{img}}" ng-click="setImage(img)">



Search:<input ng-model="query">
Sort by:
<select ng-model="orderProp">
  <option value="name">Alphabetical</option>
  <option value="-age">Oldest</option>
</select>

<center>
    <div class="imgbox"><div class="img">IMAGE HERE<div class="text"></div></div></div>
    <div class="imgbox"><div class="img">IMAGE HERE<div class="text"></div></div></div>
    <div class="imgbox"><div class="img">IMAGE HERE<div class="text"></div></div></div>
    <div class="imgbox"><div class="img">IMAGE HERE<div class="text"></div></div></div>
</center>

<center>
    <div class="imgbox"><div class="img">IMAGE HERE<div class="text"></div></div></div>
    <div class="imgbox"><div class="img">IMAGE HERE<div class="text"></div></div></div>
    <div class="imgbox"><div class="img">IMAGE HERE<div class="text"></div></div></div>
    <div class="imgbox"><div class="img">IMAGE HERE<div class="text"></div></div></div>
</center>

<center>
    <div class="imgbox"><div class="img">IMAGE HERE<div class="text"></div></div></div>
    <div class="imgbox"><div class="img">IMAGE HERE<div class="text"></div></div></div>
    <div class="imgbox"><div class="img">IMAGE HERE<div class="text"></div></div></div>
    <div class="imgbox"><div class="img">IMAGE HERE<div class="text"></div></div></div>
</center>


<center> 
<div class = "imgbox" ng-repeat = "image in images"> IMAGE <div class="img"></div>
    <img ng-src = "{{photo.src}}">

</div>
</center>

<center>
<img src="img/dv3.png"/>
 </center>


</html>