<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<script src="http://code.angularjs.org/1.2.9/angular.min.js" type="text/javascript"></script>
<script src="http://code.angularjs.org/1.2.9/angular-animate.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href='css/app.css' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="js/app.js"></script>
<title>Image Gallery</title>
</head>
<center> 
<h1>Screenshot Gallery</h1>
</center>
<body>
<style> 
body {
    background-image: url("imag/screenshots/silver.jpg"); 
}

.imgbox{
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 50px;
    position: center;
    left: 152px;
    
}

.img{
    height: 200px;
    width: 200px;

    position: center; 
}

ul.gallery li {
    display: inline-block;
    float: left;
    padding: 5px 5px 10px 10px
    border: 1px solid #fff;
    -moz-box-shadow: 0px 2px 15px #333;
    position: relative;
    bottom: 0px;
    margin-right: 100px;
    margin-bottom: 50px;
    position: center;
    left: 152px;
    border: 1px solid #fff;

}

</style>

<body ng-controller="SliderController">
<slider images="images"/>
<center> 
Search:<input ng-model="query">
Sort by:
<select ng-model="orderProp">
  <option value="name">Alphabetical</option>
  <option value="-age">Oldest</option>
</select>
</center>

<ul class ="gallery">
<center> 

     <li> <div class="imgbox"><div class="img">IMAGE HERE<div class="text"></div></div></div></li>
      <li> <div class="imgbox"><div class="img">IMAGE HERE<div class="text"></div></div></div></li>
      <li> <div class="imgbox"><div class="img">IMAGE HERE<div class="text"></div></div></div></li>
</center>
<center>
     <li> <div class="imgbox"><div class="img">IMAGE HERE<div class="text"></div></div></div></li>
     <li> <div class="imgbox"><div class="img">IMAGE HERE<div class="text"></div></div></div></li>
      <li> <div class="imgbox"><div class="img">IMAGE HERE<div class="text"></div></div></div></li>
      <li> <div class="imgbox"><div class="img">IMAGE HERE<div class="text"></div></div></div></li>

</center>

<div class = "row">
     <li> <div class="imgbox"><div class="img">IMAGE HERE<div class="text"></div></div></div></li>
     <li> <div class="imgbox"><div class="img">IMAGE HERE<div class="text"></div></div></div></li>
      <li> <div class="imgbox"><div class="img">IMAGE HERE<div class="text"></div></div></div></li>
      <li> <div class="imgbox"><div class="img">IMAGE HERE<div class="text"></div></div></div></li>
      <center> 

     <li> <div class="imgbox"><div class="img">IMAGE HERE<div class="text"></div></div></div></li>
      <li> <div class="imgbox"><div class="img">IMAGE HERE<div class="text"></div></div></div></li>
      <li> <div class="imgbox"><div class="img">IMAGE HERE<div class="text"></div></div></div></li>
   </center>
   </div>
    <div class = "row">
     <li> <div class="imgbox"><div class="img">IMAGE HERE<div class="text"></div></div></div></li>
     <li> <div class="imgbox"><div class="img">IMAGE HERE<div class="text"></div></div></div></li>
      <li> <div class="imgbox"><div class="img">IMAGE HERE<div class="text"></div></div></div></li>
      <li> <div class="imgbox"><div class="img">IMAGE HERE<div class="text"></div></div></div></li>
      <center> 

     <li> <div class="imgbox"><div class="img">IMAGE HERE<div class="text"></div></div></div></li>
      <li> <div class="imgbox"><div class="img">IMAGE HERE<div class="text"></div></div></div></li>
      <li> <div class="imgbox"><div class="img">IMAGE HERE<div class="text"></div></div></div></li>
    </center>
    <center> 

     <li> <div class="imgbox"> <div class="img">IMAGE HERE<div class="text"></div></div></div></li>
      <li> <div class="imgbox"><div class="img">IMAGE HERE<div class="text"></div></div></div></li>
      <li> <div class="imgbox"><div class="img">IMAGE HERE<div class="text"></div></div></div></li>
</center>
</div>
</ul>
<center> 
<ul class ="gallery">
<div class = "imgbox" ng-controller= "ImageCtrl" div class = "img" ng-repeat = "IMAGE HERE">
<div style = "height: 400px">
<div class="text"></div>
<img ng-src = "{{image.src}}" style ="margin:auto;">
</div>
</center>
<div ng-controller = "ImageModal"><img ng-src = "{{image.src}}" style ="margin:auto;">
<li ng-repeat ="Image in images">
    <!--<a ng-click="selected.image = image">-->
    <div class="imgbox"><div class="img">IMAGE HERE<div class="text"></div></div></div>
    <!--<button class="imageclick" ng-click="close()">-->
</ul>
</body>
</html>


